
#p{
    color: #ff00ff;
    font-size: 20px;
    font-weight: bold;
    font-family:Rockwell, Calibri, Monospace;
    font-style : oblique; }
 
    #p1{
    color:#0000FF;
    font-size: 1em;
    font-weight: normal;
    font-variant: small-caps;
    font-family: Andale Mono;}